{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Cerdas Cermat Bahasa Jepang{% endblock %}

{% block poster_image %}
<img src="{{ url_for('static', filename='img/meloria/lomba_cerdas_cermat_bahasa_jepang.jpg') }}"
     alt="Lomba Cerdas Cermat Bahasa Jepang"
     class="registration-poster-image"
     loading="lazy">
{% endblock %}

{% block form %}
    <input type="text" name="nama" placeholder="Nama Lengkap" required>
    <input type="text" name="kelas" placeholder="Kelas" required>
    <input type="text" name="idline" placeholder="ID Line" required>
{% endblock %}
