{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Bahasa Prancis{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/Lomba bahasa prancis.png') }}" 
        alt="Lomba Bahasa Prancis"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <label>Nama Lengkap</label>
    <input type="text" name="nama" required>

    <label>Kelas</label>
    <input type="text" name="kelas" required>

    <label>ID Line</label>
    <input type="text" name="idline" required>
{% endblock %}