{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Cerdas Cermat Bahasa Jepang{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/Lomba Cerdas Cermat Bahasa Jepang.jpg') }}" 
        alt="Lomba Cerdas Cermat Bahasa Jepang"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <!-- Temporary form, continue later -->
    <h2>participant</h2>
    <input type="text">
    <h2>participant</h2>
    <input type="text">
    <h2>participant</h2>
    <input type="text">
{% endblock %}