{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Lampu Hijau Lampu Merah Bahasa Korea{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/Lomba Lampu Hijau Lampu Merah Bahasa Korea.jpg') }}" 
        alt="Lomba Lampu Hijau Lampu Merah Bahasa Korea"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <!-- Temporary form, continue later -->
    <h2>participant</h2>
    <input type="text">
    <h2>participant</h2>
    <input type="text">
    <h2>participant</h2>
    <input type="text">
{% endblock %}