{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Spelling Bee German{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/Lomba Spelling Bee GERMAN.jpg') }}" 
        alt="Lomba Spelling Bee German"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <input type="text" name="nama" placeholder="Nama Lengkap" required>
    <input type="text" name="kelas" placeholder="Kelas" required>
    <input type="text" name="idline" placeholder="ID Line" required>
{% endblock %}