{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Cerdas Cermat{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/Lomba Cerdas Cermat.png') }}" 
        alt="Lomba Cerdas Cermat"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <!-- Temporary form, continue later -->
    <h2>Nama Lengkap</h2>
    <input type="text">
    <h2>Kelas</h2>
    <input type="text">
    <h2>ID Line</h2>
    <input type="text">
{% endblock %}