{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Cerdas Cermat{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/lomba_cerdas_cermat.png') }}" 
        alt="Lomba Cerdas Cermat"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <label>Nama Kapten</label>
    <input type="text" name="nama1" required>

    <label>ID Line</label>
    <input type="text" name="idline1" required>

    <label>Nama Anggota 1</label>
    <input type="text" name="nama2" required>

    <label>ID Line</label>
    <input type="text" name="idline2" required>

    <label>Nama Anggota 2</label>
    <input type="text" name="nama3" required>

    <label>ID Line</label>
    <input type="text" name="idline3" required>

    <label>Kelas</label>
    <input type="text" name="kelas" required>
{% endblock %}