{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Cosplay{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/lomba_cosplay.jpg') }}" 
        alt="Lomba Cosplay"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <label>Nama Cosplayer 1</label>
    <input type="text" name="nama1" required>

    <label>Kelas Cosplayer 1</label>
    <input type="text" name="kelas1" required>

    <label>Karakter Cosplayer 1</label>
    <input type="text" name="karakter1" required>

    <label>ID Line Cosplayer 1</label>
    <input type="text" name="idline1" required>

    <label>Nama Cosplayer 2(Optional)</label>
    <input type="text" name="nama2" required>

    <label>Kelas Cosplayer 2(Optional)</label>
    <input type="text" name="kelas2" required>

    <label>Karakter Cosplayer 2(Optional)</label>
    <input type="text" name="karakter2" required>

    <label>ID Line Cosplayer 2(Optional)</label>
    <input type="text" name="idline2" required>

    <label>Nama Cosplayer 3(Optional)</label>
    <input type="text" name="nama3" required>

    <label>Kelas Cosplayer 3(Optional)</label>
    <input type="text" name="kelas3" required>

    <label>Karakter Cosplayer 3(Optional)</label>
    <input type="text" name="karakter3" required>

    <label>ID Line Cosplayer 3(Optional)</label>
    <input type="text" name="idline3" required>

    <label>Nama Cosplayer 4(Optional)</label>
    <input type="text" name="nama4" required>

    <label>Kelas Cosplayer 4(Optional)</label>
    <input type="text" name="kelas4" required>

    <label>Karakter Cosplayer 4(Optional)</label>
    <input type="text" name="karakter4" required>

    <label>ID Line Cosplayer 4(Optional)</label>
    <input type="text" name="idline4" required>

{% endblock %}