{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Cosplay{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/lomba_cosplay.jpg') }}" 
        alt="Lomba Cosplay"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <input type="text" name="nama1" placeholder="Nama Cosplayer 1" required>
    <input type="text" name="kelas1" placeholder="Kelas Cosplayer 1" required>
    <input type="text" name="karakter1" placeholder="Karakter Cosplayer 1" required>
    <input type="text" name="idline1" placeholder="ID Line Cosplayer 1" required>

    <input type="text" name="nama2" placeholder="Nama Cosplayer 2 (Optional)">
    <input type="text" name="kelas2" placeholder="Kelas Cosplayer 2 (Optional)">
    <input type="text" name="karakter2" placeholder="Karakter Cosplayer 2 (Optional)">
    <input type="text" name="idline2" placeholder="ID Line Cosplayer 2 (Optional)">

    <input type="text" name="nama3" placeholder="Nama Cosplayer 3 (Optional)">
    <input type="text" name="kelas3" placeholder="Kelas Cosplayer 3 (Optional)">
    <input type="text" name="karakter3" placeholder="Karakter Cosplayer 3 (Optional)">
    <input type="text" name="idline3" placeholder="ID Line Cosplayer 3 (Optional)">

    <input type="text" name="nama4" placeholder="Nama Cosplayer 4 (Optional)">
    <input type="text" name="kelas4" placeholder="Kelas Cosplayer 4 (Optional)">
    <input type="text" name="karakter4" placeholder="Karakter Cosplayer 4 (Optional)">
    <input type="text" name="idline4" placeholder="ID Line Cosplayer 4 (Optional)">
{% endblock %}