{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba English Debate{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/lomba_english_debate.png') }}" 
        alt="Lomba English Debate"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <input type="text" name="nama1" placeholder="Nama Peserta 1" required>
    <input type="text" name="kelas1" placeholder="Kelas Peserta 1" required>
    <input type="text" name="idline1" placeholder="ID Line Peserta 1" required>
    
    <input type="text" name="nama2" placeholder="Nama Peserta 2" required>
    <input type="text" name="kelas2" placeholder="Kelas Peserta 2" required>
    <input type="text" name="idline2" placeholder="ID Line Peserta 2" required>
    
    <input type="text" name="nama3" placeholder="Nama Peserta 3" required>
    <input type="text" name="kelas3" placeholder="Kelas Peserta 3" required>
    <input type="text" name="idline3" placeholder="ID Line Peserta 3" required>
{% endblock %}