{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Debat Bahasa Indonesia{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/lomba_debat_bahasa_indonesia.jpeg') }}" 
        alt="Lomba Debat Bahasa Indonesia"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <input type="text" name="nama1" placeholder="Nama Kapten" required>
    <input type="text" name="kelas1" placeholder="Kelas Kapten" required>
    <input type="text" name="idline1" placeholder="ID Line Kapten" required>
    
    <input type="text" name="nama2" placeholder="Nama Anggota 1" required>
    <input type="text" name="kelas2" placeholder="Kelas Anggota 1" required>
    <input type="text" name="idline2" placeholder="ID Line Anggota 1" required>
    
    <input type="text" name="nama3" placeholder="Nama Anggota 2" required>
    <input type="text" name="kelas3" placeholder="Kelas Anggota 2" required>
    <input type="text" name="idline3" placeholder="ID Line Anggota 2" required>
{% endblock %}