{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Debat Bahasa Indonesia{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/lomba debat indo.jpeg') }}" 
        alt="Lomba Debat Bahasa Indonesia"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <!-- Temporary form, continue later -->
    <h2>Nama Lengkap</h2>
    <input type="text">
    <h2>Kelas</h2>
    <input type="text">
    <h2>ID Line</h2>
    <input type="text">
{% endblock %}