{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Desain Infografis{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/lomba_desain_infografis.jpg') }}" 
        alt="Lomba Desain Infografis"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <input type="text" name="nama" placeholder="Nama Lengkap" required>
    <input type="text" name="kelas" placeholder="Kelas" required>
    <input type="text" name="idline" placeholder="ID Line" required>
{% endblock %}