{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}IGS Got Talent{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/lomba_igs_got_talent.jpg') }}" 
        alt="IGS Got Talent"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <input type="text" name="nama" placeholder="Nama Lengkap" required>
    <input type="text" name="kelas" placeholder="Kelas" required>
    <input type="text" name="idline" placeholder="ID Line" required>
    <input type="text" name="jenis_talent" placeholder="Jenis Talent" required>
    <input type="text" name="nama_anggota" placeholder="Nama Anggota (Opsional)">
{% endblock %}