{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Lomba Menghias Totebag{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/lomba_menghias_totebag.png') }}" 
        alt="Lomba Menghias Totebag"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <label>Nama Tim</label>
    <input type="text" name="nama_tim" required>

    <label>Nama Peserta 1</label>
    <input type="text" name="nama1" required>

    <label>Kelas</label>
    <input type="text" name="kelas1" required>

    <label>ID Line</label>
    <input type="text" name="idline1" required>

    <label>Nama Peserta 2</label>
    <input type="text" name="nama2" required>

    <label>Kelas</label>
    <input type="text" name="kelas2" required>

    <label>ID Line</label>
    <input type="text" name="idline2" required>
{% endblock %}