{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Mystery Color{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/minigames_mystery_color.jpg') }}" 
        alt="Mystery Color"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <!-- Temporary form, continue later -->
    <h2>Nama Lengkap</h2>
    <input type="text">
    <h2>Kelas</h2>
    <input type="text">
    <h2>ID Line</h2>
    <input type="text">
    <button class="grup"><a href="">Grup</a></button>
{% endblock %}