{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Workshop Daur Ulang{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/Workshop DaurUlang.jpg') }}" 
        alt="Workshop Daur Ulang"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <label>Nama Lengkap</label>
    <input type="text" name="nama" required>

    <label>Kelas</label>
    <input type="text" name="kelas" required>

    <label>ID Line</label>
    <input type="text" name="idline" required>
{% endblock %}