{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Workshop Daur Ulang{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/workshop_calligraphy.png') }}" 
        alt="Workshop Calligraphy"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <label>Nama Lengkap</label>
    <input type="text" name="nama" required>

    <label>Kelas</label>
    <input type="text" name="kelas" required>

    <label>ID Line</label>
    <input type="text" name="idline" required>

    <label>Sesi 1 = 08:00 s/d 09:30  Dan Sesi 2 = 10:15 s/d 11:45 </label>
    <input type="text" name="sesi" required>
{% endblock %}