{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Workshop Daur Ulang{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/Workshop DaurUlang.jpg') }}" 
        alt="Workshop Daur Ulang"
        class="registeration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <input type="text" name="nama" placeholder="Nama Lengkap" required>
    <input type="text" name="kelas" placeholder="Kelas" required>
    <input type="text" name="idline" placeholder="ID Line" required>
{% endblock %}