
{% extends 'meloria/meloria_layout.html' %}

{% block title_lomba %}Workshop Chinese Calligraphy{% endblock %}
{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/meloria/workshop_calligraphy.png') }}" 
        alt="Workshop Chinese Calligraphy"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form %}
    <input type="text" name="nama" placeholder="Nama Lengkap" required>
    <input type="text" name="kelas" placeholder="Kelas" required>
    <input type="text" name="idline" placeholder="ID Line" required>
    
    <select name="sesi" required>
        <option value="" disabled selected>Pilih Sesi Workshop</option>
        <option value="Sesi 1 (08:00 - 09:30)">Sesi 1 (08:00 - 09:30)</option>
        <option value="Sesi 2 (10:15 - 11:45)">Sesi 2 (10:15 - 11:45)</option>
    </select>
{% endblock %}
