{% extends 'Festiora/e_festiora_layout.html' %}
{% block form_title %}Basket{% endblock %}

{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/festiora/LOMBA_BASKET_.png') }}" 
        alt="Basket"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block description %}
    Permainan ini akan dimainkan oleh dua tim yang berasal dari dua kelas yang berbeda, permainan ini akan berlangsung dengan saling berusaha memasukkan bola ke ring lawan dengan cara menggiring, mengoper, dan menembak bola, sambil tetap mematuhi aturan yang ada, yang pada akhirnya nantinya tim yang memiliki poin terbanyak di akhir waktu adalah pemenangnya.
{% endblock %}

{% block form_content %}
<form id="festioraForm" data-lomba="basket">
    <label>Nama Ketua</label><input type="text" name="ketua" required>
    <label>ID Line Ketua</label><input type="text" name="idline_ketua" required>
    <label>Nama Anggota 1</label><input type="text" name="anggota1" required>
    <label>ID Line Anggota 1</label><input type="text" name="idline_anggota1" required>
    <label>Nama Anggota 2</label><input type="text" name="anggota2" required>
    <label>ID Line Anggota 2</label><input type="text" name="idline_anggota2" required>
    <label>Nama Cadangan (opsional)</label><input type="text" name="cadangan">
    <label>ID Line Cadangan (opsional)</label><input type="text" name="idline_cadangan">
    <label>Kelas</label><input type="text" name="kelas" required>
    <button type="submit">Kirim</button>
</form>
{% endblock %}