{% extends 'Festiora/e_festiora_layout.html' %}
{% block form_title %}Family 100{% endblock %}

{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/festiora/Family_100.png') }}" 
        alt="Family 100"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block description %}
    Perlombaan ini akan dimainkan oleh masing-masing kelas mengirim satu tim yang berisi 5 orang pemain. Setelah permainan dimulai, panitia akan memberi pertanyaan-pertanyaan random yang di mana setiap tim akan saling menebak jawaban paling populer dari survei yang telah dilakukan sebelumnya. Tim yang ingin menjawab harus menekan tombol ataupun bel yang tersedia. Setiap tim harus berusaha mendapatkan poin terbanyak untuk mendapatkan hadiah dan menjadi pemenangnya.
{% endblock %}

{% block form_content %}
<form id="festioraForm" data-lomba="family_100">
    <label>Kelas</label><input type="text" name="kelas" required>
    <label>Nama Ketua</label><input type="text" name="ketua" required>
    <label>ID Line Ketua</label><input type="text" name="idline_ketua" required>
    <label>Nama Anggota 1</label><input type="text" name="anggota1" required>
    <label>ID Line Anggota 1</label><input type="text" name="idline_anggota1" required>
    <label>Nama Anggota 2</label><input type="text" name="anggota2" required>
    <label>ID Line Anggota 2</label><input type="text" name="idline_anggota2" required>
    <label>Nama Anggota 3</label><input type="text" name="anggota3" required>
    <label>ID Line Anggota 3</label><input type="text" name="idline_anggota3" required>
    <label>Nama Anggota 4</label><input type="text" name="anggota4" required>
    <label>ID Line Anggota 4</label><input type="text" name="idline_anggota4" required>
    <button type="submit">Kirim</button>
</form>
{% endblock %}
