{% extends 'Festiora/e_festiora_layout.html' %}
{% block form_title %}Family 100{% endblock %}

{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/festiora/Family_100.png') }}" 
        alt="Family 100"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block description %}
    Perlombaan ini akan dimainkan oleh masing-masing kelas mengirim satu tim yang berisi 5 orang pemain. Setelah permainan dimulai, panitia akan memberi pertanyaan-pertanyaan random yang di mana setiap tim akan saling menebak jawaban paling populer dari survei yang telah dilakukan sebelumnya. Tim yang ingin menjawab harus menekan tombol ataupun bel yang tersedia. Setiap tim harus berusaha mendapatkan poin terbanyak untuk mendapatkan hadiah dan menjadi pemenangnya.
{% endblock %}

{% block form_content %}
<form id="festioraForm" data-lomba="family_100" data-line-link="https://line.me/R/ti/g/bs-mfCLV7M">
    <label>Kelas</label><input type="text" name="kelas" placeholder="Masukkan kelas" required>
    <label>Nama Ketua</label><input type="text" name="ketua" placeholder="Masukkan nama ketua" required>
    <label>ID Line Ketua</label><input type="text" name="idline_ketua" placeholder="Masukkan ID Line ketua" required>
    <label>Nama Anggota 1</label><input type="text" name="anggota1" placeholder="Masukkan nama anggota 1" required>
    <label>ID Line Anggota 1</label><input type="text" name="idline_anggota1" placeholder="Masukkan ID Line anggota 1" required>
    <label>Nama Anggota 2</label><input type="text" name="anggota2" placeholder="Masukkan nama anggota 2" required>
    <label>ID Line Anggota 2</label><input type="text" name="idline_anggota2" placeholder="Masukkan ID Line anggota 2" required>
    <label>Nama Anggota 3</label><input type="text" name="anggota3" placeholder="Masukkan nama anggota 3" required>
    <label>ID Line Anggota 3</label><input type="text" name="idline_anggota3" placeholder="Masukkan ID Line anggota 3" required>
    <label>Nama Anggota 4</label><input type="text" name="anggota4" placeholder="Masukkan nama anggota 4" required>
    <label>ID Line Anggota 4</label><input type="text" name="idline_anggota4" placeholder="Masukkan ID Line anggota 4" required>
    <button type="submit">Kirim</button>
</form>
{% endblock %}
