{% extends 'Festiora/e_festiora_layout.html' %}
{% block form_title %}E-Sport MLBB{% endblock %}

{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/festiora/Poster_Lomba_E-Sport_MLBB.jpg') }}" 
        alt="E-Sport MLBB"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block description %}
    Permainan ini akan dimainkan oleh masing-masing kelas akan terdapat satu tim yang berisi lima orang pemain, peserta akan memilih hero melalui fase draft pick yang mencakup ban dan pick bergantian, lalu bertanding di dalam game untuk menghancurkan base lawan dengan menguasai lane, pemenang ditentukan dari tim yang lebih dulu mencapai jumlah kemenangan yang ditetapkan.
{% endblock %}

{% block form_content %}
<form id="festioraForm" data-lomba="mlbb" data-line-link="https://line.me/R/ti/g/WaGzZv3Kc6">
    <label>Nama Kapten</label><input type="text" name="kapten" placeholder="Masukkan nama kapten" required>
    <label>ID Line Kapten</label><input type="text" name="idline_kapten" placeholder="Masukkan ID Line kapten" required>
    <label>Nama Anggota 1</label><input type="text" name="anggota1" placeholder="Masukkan nama anggota 1" required>
    <label>ID Line Anggota 1</label><input type="text" name="idline_anggota1" placeholder="Masukkan ID Line anggota 1" required>
    <label>Nama Anggota 2</label><input type="text" name="anggota2" placeholder="Masukkan nama anggota 2" required>
    <label>ID Line Anggota 2</label><input type="text" name="idline_anggota2" placeholder="Masukkan ID Line anggota 2" required>
    <label>Nama Anggota 3</label><input type="text" name="anggota3" placeholder="Masukkan nama anggota 3" required>
    <label>ID Line Anggota 3</label><input type="text" name="idline_anggota3" placeholder="Masukkan ID Line anggota 3" required>
    <label>Nama Anggota 4</label><input type="text" name="anggota4" placeholder="Masukkan nama anggota 4" required>
    <label>ID Line Anggota 4</label><input type="text" name="idline_anggota4" placeholder="Masukkan ID Line anggota 4" required>
    <label>Nama Tim</label><input type="text" name="kelas" placeholder="Masukkan Nama Tim" required>
    <button type="submit">Kirim</button>
</form>
{% endblock %}

