{% extends 'Festiora/e_festiora_layout.html' %}
{% block form_title %}E-Sport MLBB{% endblock %}

{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/festiora/Poster_Lomba_E-Sport_MLBB.jpg') }}" 
        alt="E-Sport MLBB"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block description %}
    Permainan ini akan dimainkan oleh masing-masing kelas akan terdapat satu tim yang berisi lima orang pemain, peserta akan memilih hero melalui fase draft pick yang mencakup ban dan pick bergantian, lalu bertanding di dalam game untuk menghancurkan base lawan dengan menguasai lane, pemenang ditentukan dari tim yang lebih dulu mencapai jumlah kemenangan yang ditetapkan.
{% endblock %}

{% block form_content %}
<form id="festioraForm" data-lomba="mlbb" data-line-link="https://line.me/R/ti/g/WaGzZv3Kc6">
    <label>Nama Kapten</label><input type="text" name="kapten" required>
    <label>ID Line Kapten</label><input type="text" name="idline_kapten" required>
    <label>Nama Anggota 1</label><input type="text" name="anggota1" required>
    <label>ID Line Anggota 1</label><input type="text" name="idline_anggota1" required>
    <label>Nama Anggota 2</label><input type="text" name="anggota2" required>
    <label>ID Line Anggota 2</label><input type="text" name="idline_anggota2" required>
    <label>Nama Anggota 3</label><input type="text" name="anggota3" required>
    <label>ID Line Anggota 3</label><input type="text" name="idline_anggota3" required>
    <label>Nama Anggota 4</label><input type="text" name="anggota4" required>
    <label>ID Line Anggota 4</label><input type="text" name="idline_anggota4" required>
    <label>Kelas</label><input type="text" name="kelas" required>
    <button type="submit">Kirim</button>
</form>
{% endblock %}

