{% extends 'Festiora/e_festiora_layout.html' %}
{% block form_title %}Speed Drawing{% endblock %}

{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/festiora/Poster_speed_drawing_.png') }}" 
        alt="Speed Drawing"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block description %}
    Setiap kelas dapat mengirimkan satu orang peserta yang sudah membawa alat gambarnya masing-masing. Perlombaan dimulai dengan panitia akan menentukan sebuah tema yang harus digambar oleh peserta selama 10 menit, saat waktu habis panitia akan menarik semua lembar kertas gambar yang akan diberi poin 1-5. Perlombaan terus berulang seperti itu sampai pada akhirnya pemenang akan ditentukan dari banyaknya poin yang didapat.
{% endblock %}

{% block form_content %}
<form id="festioraForm" data-lomba="speed_drawing" data-line-link="https://line.me/R/ti/g/9_A599PtQU">
    <label>Nama Peserta 1</label><input type="text" name="peserta1" placeholder="Masukkan nama peserta 1" required>
    <label>Nama Peserta 2</label><input type="text" name="peserta2" placeholder="Masukkan nama peserta 2" required>
    <label>Nama Peserta 3</label><input type="text" name="peserta3" placeholder="Masukkan nama peserta 3" required>
    <label>Kelas</label><input type="text" name="kelas" placeholder="Masukkan kelas" required>
    <label>ID Line</label><input type="text" name="idline" placeholder="Masukkan ID Line" required>
    <button type="submit">Kirim</button>
</form>
{% endblock %}
