{% extends 'Festiora/e_festiora_layout.html' %}
{% block title %}TriQuest{% endblock %}
{% block form_title %}TriQuest Registration{% endblock %}
{% block form_content %}
<form id="festioraForm" data-lomba="triquest">
    <label>Nama Kapten</label><input type="text" name="kapten" required>
    <label>ID Line Kapten</label><input type="text" name="idline_kapten" required>
    <label>Nama Anggota 1</label><input type="text" name="anggota1" required>
    <label>ID Line Anggota 1</label><input type="text" name="idline_anggota1" required>
    <label>Nama Anggota 2</label><input type="text" name="anggota2" required>
    <label>ID Line Anggota 2</label><input type="text" name="idline_anggota2" required>
    <label>Nama Anggota 3</label><input type="text" name="anggota3" required>
    <label>ID Line Anggota 3</label><input type="text" name="idline_anggota3" required>
    <label>Nama Anggota 4</label><input type="text" name="anggota4" required>
    <label>ID Line Anggota 4</label><input type="text" name="idline_anggota4" required>
    <label>Kelas</label><input type="text" name="kelas" required>
    <button type="submit">Kirim</button>
</form>
{% endblock %}
