{% extends 'Festiora/e_festiora_layout.html' %}
{% block form_title %}Trivia Showdown{% endblock %}

{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/festiora/Poster_Trivia_Showdown.JPG') }}" 
        alt="Trivia Showdown"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block description %}
    Masing-masing kelas akan mengirimkan satu tim yang berisi 3 orang peserta. Panitia akan memberikan pertanyaan-pertanyaan mengenai pengetahuan umum dan pembelajaran, yang harus dijawab oleh peserta. Setiap tim harus berebut untuk menjawab pertanyaan, dengan menekan tombol yang sudah disiapkan oleh panitia.
{% endblock %}

{% block form_content %}
<form id="festioraForm" data-lomba="trivia_showdown" data-line-link="https://line.me/ti/g/m8MjZjhQY7">
    <label>Nama Peserta 1</label><input type="text" name="peserta1" required>
    <label>Nama Peserta 2</label><input type="text" name="peserta2" required>
    <label>Nama Peserta 3</label><input type="text" name="peserta3" required>
    <label>Kelas</label><input type="text" name="kelas" required>
    <label>ID Line</label><input type="text" name="idline" required>
    <button type="submit">Kirim</button>
</form>
{% endblock %}
