{% extends 'Festiora/e_festiora_layout.html' %}
{% block form_title %}Workshop Robotic{% endblock %}

{% block poster_image %}
    <img 
        src="{{ url_for('static', filename='img/festiora/Workshop_Robotic.png') }}" 
        alt="Workshop Robotic"
        class="registration-poster-image"
        loading="lazy"
    />
{% endblock %}

{% block form_content %}
<form id="festioraForm" data-lomba="workshop_robotic" data-line-link="https://line.me/R/ti/g/8teVvGzqT-">
    <label>Nama Peserta</label><input type="text" name="peserta" placeholder="Masukkan nama peserta" required>
    <label>Kelas</label><input type="text" name="kelas" placeholder="Masukkan kelas" required>
    <label>ID Line</label><input type="text" name="idline" placeholder="Masukkan ID Line" required>
    <button type="submit">Kirim</button>
</form>
{% endblock %}
