{% extends 'e_salvatore/regist_layout.html' %}

{% block poster %}
  <img
    src="{{ url_for('static', filename='img/salvatore/egg-shell-mosaic.jpeg') }}"
    alt="Egg Shell Mosaic"
  >
{% endblock %}

{% block title %} Egg Shell Mosaic {% endblock %}

{% block form %}
  <form class="form" id="form">
    <label for="nama">Nama Lengkap : </label><br>
    <input type="text" name="nama" required><br><br>

    <label for="kategori">Kategori : </label><br>
    <select name="kategori" required>
      <option value="">Pilih Kategori</option>
      <option value="SMP">SMP</option>
      <option value="SMA">SMA</option>
    </select><br><br>

    <label for="kelas">Kelas : </label><br>
    <input type="text" name="kelas" required><br><br>

    <label for="agama">Agama : </label><br>
    <select name="agama" required>
      <option value="">Pilih Agama</option>
      <option value="Kristen">Kristen</option>
      <option value="Katolik">Katolik</option>
    </select><br>
    
    <button>Register</button>
  </form>
{% endblock %}