{% extends 'e_salvatore/regist_layout.html' %}

{% block poster %}
  <img
    src="{{ url_for('static', filename='img/salvatore/temporary-image.png') }}"
    alt="Menyanyi Lagu Rohani"
    width="420px"
    height="560px"
  >
{% endblock %}

{% block title %} Menyanyi Lagu Rohani {% endblock %}
{% block desc %}
  <p>Setiap peserta tampil secara individu dan menyanyikan satu lagu rohani yang telah dipilih sebelumnya. Waktu penampilan biasanya sekitar 3-5 menit sesuai dengan durasi lagu. Peserta diperbolehkan menggunakan instrumental ataupun dalam bentuk karaoke. Selama penampilan, peserta harus menyanyikan lagu dengan penghayatan, ekspresi, serta kejelasan vokal agar pesan rohani dari lagu dapat tersampaikan dengan baik kepada pendengar. Penilaian dilakukan oleh juri berdasarkan kualitas vokal, ketepatan nada dan tempo, penghayatan lagu, serta penampilan atau kepercayaan diri di atas panggung.</p>
{% endblock %}

{% block form %}
  <form class="form" id="form">
    <h1>Registration Form</h1>
    <label for="nama">Nama Lengkap : </label><br>
    <input type="text" name="nama" placeholder="Nama Lengkap" required><br><br>

    <label for="kategori">Kategori : </label><br>
    <div class="radio">
      <input type="radio" name="kategori" value="SMP" required><label for="SMP">SMP</label><br>
      <input type="radio" name="kategori" value="SMA" required><label for="SMA">SMA</label>
    </div><br>

    <label for="kelas">Kelas : </label><br>
    <input type="text" name="kelas" placeholder="Kelas" required><br><br>

    <label for="agama">Agama : </label><br>
    <div class="radio">
      <input type="radio" name="agama" value="Kristen" required><label for="Kristen">Kristen</label><br>
      <input type="radio" name="agama" value="Katolik" required><label for="Katolik">Katolik</label>
    </div><br>

    <label for="judul">Judul Lagu : </label><br>
    <div class="radio">
      <input type="radio" name="judul" value="" required><label for="">placeholder</label>
    </div><br>
    
    <button>Register</button>
  </form>
{% endblock %}