{% extends 'e_salvatore/regist_layout.html' %}

{% block poster %}
  <img
    src="{{ url_for('static', filename='img/salvatore/quiz-alkitab.png') }}"
    alt="Quiz Alkitab"
  >
{% endblock %}

{% block title %} Quiz Alkitab {% endblock %}
{% block desc %}
  <p>
    Peserta PER KELAS akan menyediakan 2 orang (bisa Katolik & Katolik, bisa Kristen & Kristen, bisa Katolik & Kristen) untuk mengikuti lomba Quiz ini. Pada babak awal, peserta menjawab soal pilihan ganda atau isian singkat seputar isi Alkitab, tokoh-tokoh, peristiwa penting, serta pengetahuan umum agama untuk menyaring peserta terbaik. Babak selanjutnya menggunakan sistem cepat tepat, di mana peserta yang lebih dulu menekan bel berhak menjawab pertanyaan, dan jika jawabannya salah, kesempatan diberikan kepada peserta lain. Tingkat kesulitan soal akan meningkat pada setiap babak, mulai dari pengetahuan dasar hingga pemahaman yang lebih mendalam. Penilaian didasarkan pada ketepatan dan kecepatan menjawab, dengan pengurangan poin jika jawaban salah pada babak tertentu. Pada babak final, peserta akan diberikan soal studi kasus atau pertanyaan terbuka yang menuntut penalaran dan pemahaman iman secara lebih luas. Peserta dengan total poin tertinggi akan dinyatakan sebagai pemenang.
  </p><br>

  <h2>Mekanisme</h2>
  <ol>
    <li>
      <span class="highlight">Babak 1 - Eliminasi (2 Sesi)</span><br>
      Peserta menjawab 15 soal pilihan ganda.<br>
      10 kelompok tercepat dan dengan jawaban benar terbanyak lolos ke babak berikutnya.
    </li>

    <li>
      <span class="highlight">Babak 2 - Speed Round</span><br>
      Kelompok berlomba menjawab pertanyaan secepat mungkin untuk mengumpulkan poin.<br>
      3 kelompok dengan poin tertinggi maju ke final.
    </li>

    <li>
      <span class="highlight">Babak Final</span><br>
      3 kelompok terbaik menjawab pertanyaan.<br>
      Total poin menentukan juara 1, 2, dan 3.
    </li>
  </ol><br>

  <h2>Rules</h2>
  <ol>
    <li>Per kelas diperwakilkan 2 orang. (Boleh dua-duanya Kristen/Katolik atau satu Kristen satu Katolik)</li>
    <li>Peserta dilarang membawa Alkitab/alat contek apapun itu.</li>
    <li>Segala bentuk kecurangan dilarang keras, jika ketahuan langsung didiskualifikasi.</li>
  </ol><br>

  <h2>Contact Person (LINE) : <span class="highlight">kinoash1</span></h2>
{% endblock %}

{% block form %}
  <form class="form" id="form">
    <h1>Registration Form</h1>
    <label for="kategori">Kategori : </label><br>
    <div class="radio">
      <input type="radio" name="kategori" value="SMP" required><label for="SMP">SMP</label><br>
      <input type="radio" name="kategori" value="SMA" required><label for="SMA">SMA</label>
    </div><br>

    <label for="nama-ketua">Nama Ketua Kelompok : </label><br>
    <input type="text" name="nama-ketua" placeholder="Nama Ketua Kelompok" required><br><br>

    <label for="agama-ketua">Agama Ketua Kelompok : </label><br>
    <div class="radio">
      <input type="radio" name="agama-ketua" value="Kristen" required><label for="Kristen">Kristen</label><br>
      <input type="radio" name="agama-ketua" value="Katolik" required><label for="Katolik">Katolik</label>
    </div><br>

    <label for="nama-anggota">Nama Anggota Kelompok : </label><br>
    <input type="text" name="nama-anggota" placeholder="Nama Anggota Kelompok" required><br><br>

    <label for="agama-anggota">Agama Anggota Kelompok : </label><br>
    <div class="radio">
      <input type="radio" name="agama-anggota" value="Kristen" required><label for="Kristen">Kristen</label><br>
      <input type="radio" name="agama-anggota" value="Katolik" required><label for="Katolik">Katolik</label>
    </div><br>
    
    <label for="kelas">Kelas : </label><br>
    <input type="text" name="kelas" placeholder="Kelas" required><br><br>
    
    <button>Register</button>
  </form>
{% endblock %}