{% extends 'e_salvatore/regist_layout.html' %}

{% block poster %}
  <img
    src="{{ url_for('static', filename='img/salvatore/quiz-alkitab.png') }}"
    alt="Quiz Alkitab"
  >
{% endblock %}

{% block title %} Quiz Alkitab {% endblock %}

{% block form %}
  <form class="form" id="form">
    <h1>Registration Form</h1>
    <label for="kategori">Kategori : </label><br>
    <select name="kategori" required>
      <option value="">Pilih Kategori</option>
      <option value="SMP">SMP</option>
      <option value="SMA">SMA</option>
    </select><br><br>

    <label for="nama-ketua">Nama Ketua Kelompok : </label><br>
    <input type="text" name="nama-ketua" required><br><br>

    <label for="agama-ketua">Agama Ketua Kelompok : </label><br>
    <select name="agama-ketua" required>
      <option value="">Pilih Agama</option>
      <option value="Kristen">Kristen</option>
      <option value="Katolik">Katolik</option>
    </select><br><br>

    <label for="nama-anggota">Nama Anggota Kelompok : </label><br>
    <input type="text" name="nama-anggota" required><br><br>

    <label for="agama-anggota">Agama Anggota Kelompok : </label><br>
    <select name="agama-anggota" required>
      <option value="">Pilih Agama</option>
      <option value="Kristen">Kristen</option>
      <option value="Katolik">Katolik</option>
    </select><br><br>
    
    <label for="kelas">Kelas : </label><br>
    <input type="text" name="kelas" required><br>
    
    <button>Register</button>
  </form>
{% endblock %}