{% extends "e_ravenith/regist_layout.html" %}
{% block form_fields %}
<label for="nama_peserta_1">Nama Peserta 1</label>
<input type="text" id="nama_peserta_1" name="nama_peserta_1" required />

<label for="nama_peserta_2">Nama Peserta 2</label>
<input type="text" id="nama_peserta_2" name="nama_peserta_2" required />

<label for="kelas">Kelas</label>
<input type="text" id="kelas" name="kelas" required />

<label for="id_line">ID LINE (salah satu peserta)</label>
<input type="text" id="id_line" name="id_line" required />
{% endblock %}
