{% extends "e_ravenith/regist_layout.html" %}
{% block form_fields %}
<label for="nama_tim">Nama Tim</label>
<input type="text" id="nama_tim" name="nama_tim" required />

<label for="kelas">Kelas</label>
<input type="text" id="kelas" name="kelas" required />

<label for="ketua">Nama Ketua</label>
<input type="text" id="ketua" name="ketua" required />

<label for="pemain_2">Nama Pemain 2</label>
<input type="text" id="pemain_2" name="pemain_2" required />

<label for="pemain_3">Nama Pemain 3</label>
<input type="text" id="pemain_3" name="pemain_3" required />

<label for="pemain_4">Nama Pemain 4</label>
<input type="text" id="pemain_4" name="pemain_4" required />

<label for="pemain_5">Nama Pemain 5</label>
<input type="text" id="pemain_5" name="pemain_5" required />

<label for="id_line_ketua">ID LINE Ketua</label>
<input type="text" id="id_line_ketua" name="id_line_ketua" required />

<label for="id_ml_ketua">ID ML Ketua</label>
<input type="text" id="id_ml_ketua" name="id_ml_ketua" required />
{% endblock %}
