{% extends "e_ravenith/regist_layout.html" %}
{% block form_fields %}
<label for="nama_kelompok">Nama Kelompok</label>
<input type="text" id="nama_kelompok" name="nama_kelompok" required />

<label for="ketua">Ketua</label>
<input type="text" id="ketua" name="ketua" required />

<label for="anggota_1">Anggota 1</label>
<input type="text" id="anggota_1" name="anggota_1" required />

<label for="anggota_2">Anggota 2</label>
<input type="text" id="anggota_2" name="anggota_2" required />

<label for="kelas">Kelas</label>
<input type="text" id="kelas" name="kelas" required />

<label for="id_line_ketua">ID LINE Ketua</label>
<input type="text" id="id_line_ketua" name="id_line_ketua" required />
{% endblock %}
