{% extends 'e_nusakarsa/regist_layout.html' %}

{% block title %} Jejak Juang Cerdas {% endblock %}

{% block comp_title %} Jejak Juang Cerdas {% endblock %}
{% block comp_meta %} Maks. 15 tim &bull; 5 orang/tim {% endblock %}

{% block poster %}
  <img
    src="{{ url_for('static', filename='img/nusakarsa/jejak_juang_cerdas.png') }}"
    alt="Poster Hias Bekal"
  />
{% endblock %}

{% block form %}
  <form class="form" id="form">
    <label for="kelas">Kelas: </label><br>
    <input type="text" id="kelas" name="kelas" required><br><br>

    <label for="ketua">Ketua: </label><br>
    <input type="text" id="ketua" name="ketua" required><br><br>

    <label for="anggota1">Anggota 1: </label><br>
    <input type="text" id="anggota1" name="anggota1" required><br><br>

    <label for="anggota2">Anggota 2: </label><br>
    <input type="text" id="anggota2" name="anggota2" required><br><br>

    <label for="anggota3">Anggota 3: </label><br>
    <input type="text" id="anggota3" name="anggota3" required><br><br>

    <label for="anggota4">Anggota 4: </label><br>
    <input type="text" id="anggota4" name="anggota4" required><br><br>

    <button>Register</button>
  </form>
{% endblock %}