{% extends 'e_nusakarsa/regist_layout.html' %}

{% block title %} Kerupuk {% endblock %}

{% block comp_title %} Kerupuk {% endblock %}
{% block comp_meta %} Maks. 22 Peserta &bull; Individu {% endblock %}

{% block poster %}
  <img
    src="{{ url_for('static', filename='img/nusakarsa/makan_kerupuk.jpg') }}"
    alt="Poster Makan Kerupuk"
  />
{% endblock %}

{% block form %}
  <form class="form" id="form">
    <label for="ketua">Nama Lengkap: </label><br>
    <input type="text" id="ketua" name="ketua" required><br><br>

    <label for="kelas">Kelas: </label><br>
    <input type="text" id="kelas" name="kelas" required><br><br>

    <label for="anggota1">ID Line: </label><br>
    <input type="text" id="anggota1" name="anggota1" required><br><br>

    <button>Register</button>
  </form>
{% endblock %}