{% extends 'e_nusakarsa/regist_layout.html' %}

{% block title %} Misi Misteri {% endblock %}

{% block comp_title %} Misi Misteri {% endblock %}
{% block comp_meta %} Maks. 10 tim &bull; 3 orang/tim {% endblock %}

{% block poster %}
  <img
    src="{{ url_for('static', filename='img/nusakarsa/mystery_mission.png') }}"
    alt="Poster Mystery Mission"
  />
{% endblock %}

{% block form %}
  <form class="form" id="form">
    <label for="kelas">Kelas : </label><br>
    <input type="text" id="kelas" name="kelas" required><br><br>

    <label for="ketua">Ketua : </label><br>
    <input type="text" id="ketua" name="ketua" required><br><br>

    <label for="anggota1">Anggota 1 : </label><br>
    <input type="text" id="anggota1" name="anggota1" required><br><br>

    <label for="anggota2">Anggota 2 : </label><br>
    <input type="text" id="anggota2" name="anggota2" required><br><br>

    <button>Register</button>
  </form>
{% endblock %}