{% extends 'e_nusakarsa/regist_layout.html' %}

{% block title %} Poster {% endblock %}

{% block comp_title %} Poster {% endblock %}
{% block comp_meta %} Maks. 15 peserta &bull; Individu {% endblock %}

{% block poster %}
  <img
    src="{{ url_for('static', filename='img/nusakarsa/poster.png') }}"
    alt="Poster Lomba Poster"
  />
{% endblock %}

{% block form %}
  <form class="form" id="form">
    <label for="nama_peserta">Nama Peserta : </label><br>
    <input type="text" id="nama_peserta" name="nama_peserta" required><br><br>

    <label for="kelas">Kelas : </label><br>
    <input type="text" id="kelas" name="kelas" required><br><br>
    <button>Register</button>
  </form>
{% endblock %}