{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block extra_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/about.css') }}"
/>
{% endblock %}

{% block isi %}
<main class="about-page">

</main>
{% endblock %}

{% block extra_js %}
    <script>
        const ardraxisCabinet = [
            {
                sekbid: "Top 3",
                sekbid_id: "top_3",
                sekbid_image: ["Top3/inti_f.png", "Top3/inti_nf1.png", "Top3/inti_nf2.png"],
                members: [
                    {
                        name: "Jessica Duangmun",
                        rank: 1,
                        exp: 2,
                        nicknames: "jesmun/jezzd",
                        jabatan: "Ketua OSIS",
                        instagram: "jesmoonn",
                        images: ["Top3/jesmun_f.png", "Top3/jesmun_nf1.png", "Top3/jesmun_nf2.png"]
                    }, {
                        name: "Rakha Aqila Astro",
                        rank: 2,
                        exp: 2,
                        nicknames: "astro/karak/rakhaa",
                        jabatan: "Wakil Ketua OSIS I",
                        instagram: "rakhaaqilaastroo",
                        images: ["Top3/rakha_f.png", "Top3/rakha_nf1.png", "Top3/rakha_nf2.png"]
                    }, {
                        name: "Sydney Venecia",
                        rank: 3,
                        exp: 2,
                        nicknames: "sydney/ney",
                        jabatan: "Wakil Ketua OSIS II",
                        instagram: "sydney.venecia",
                        images: ["Top3/sydney_f.png", "Top3/sydney_nf1.png", "Top3/sydney_nf2.png"]
                    }
                ]
            },
            {
                sekbid: "Sekretaris",
                sekbid_id: "sekretaris",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "Licia Emiliandra",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "Sekretaris",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    },
                    {
                        name: "Zahra Fadhilah Adz Zikra",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "Wakil Sekretaris",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Bendahara",
                sekbid_id: "bendahara",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "Kayla Visha Arganata",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "Bendahara",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    },
                    {
                        name: "Felicia Theng",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "Wakil Bendahara",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Bela Negara",
                sekbid_id: "belanegara",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Multimedia Onfield",
                sekbid_id: "mm_onfield",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Multimedia Website",
                sekbid_id: "mm_website",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Hubungan Masyarakat dan Publikasi",
                sekbid_id: "hubmas_pub",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Desain",
                sekbid_id: "desain",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Dokumentasi",
                sekbid_id: "dokumentasi",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Kreatif",
                sekbid_id: "kreatif",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Ketuhanan Yang Maha Esa",
                sekbid_id: "ketuhanan",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Sosial",
                sekbid_id: "sosial",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Environment",
                sekbid_id: "environment",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Governance",
                sekbid_id: "governance",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Komunikasi",
                sekbid_id: "komunikasi",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Bahasa",
                sekbid_id: "bahasa",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Apresiasi Seni dan Olahraga",
                sekbid_id: "apres",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Illustrator",
                sekbid_id: "illustrator",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Video Editor",
                sekbid_id: "video_editor",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            },
            {
                sekbid: "Producer",
                sekbid_id: "producer",
                sekbid_image: ["", "", ""],
                members: [
                    {
                        name: "name",
                        rank: 0,
                        exp: 0,
                        nicknames: "nickname",
                        jabatan: "jabatan",
                        instagram: "osis.smaigs",
                        images: ["", "", ""]
                    }
                ]
            }
        ]
        const staticBase = "{{ url_for('static', filename='') }}";
        const container = document.querySelector(".about-page");

        for (sekbid in ardraxisCabinet) {
            const sekbidContent = document.createElement("section");
            sekbidContent.className = `sekbid-section reveal-on-scroll`;
            container.append(sekbidContent);

            sekbidContent.innerHTML += `
                <div class="sekbid-cloud sekbid-cloud-left-top"></div>
                <div class="sekbid-cloud sekbid-cloud-left-mid"></div>
                <div class="sekbid-cloud sekbid-cloud-left-bottom"></div>

                <div class="sekbid-cloud sekbid-cloud-center-top"></div>
                <div class="sekbid-cloud sekbid-cloud-center-mid"></div>
                <div class="sekbid-cloud sekbid-cloud-center-bottom"></div>

                <div class="sekbid-cloud sekbid-cloud-right-top"></div>
                <div class="sekbid-cloud sekbid-cloud-right-mid"></div>
                <div class="sekbid-cloud sekbid-cloud-right-bottom"></div>

                <h1 class="sekbid-title">${ardraxisCabinet[sekbid].sekbid}</h1>

                <div class="sekbid-placeholder-card">
                    <div class="placeholder-carousel-container">
                        <img
                            src="${staticBase}img/fotokabinet/${ardraxisCabinet[sekbid].sekbid_image[0]}"
                            alt="${ardraxisCabinet[sekbid].sekbid} 1"
                            class="placeholder-carousel-image"
                        />
                        <img
                            src="${staticBase}img/fotokabinet/${ardraxisCabinet[sekbid].sekbid_image[1]}"
                            alt="${ardraxisCabinet[sekbid].sekbid} 2"
                            class="placeholder-carousel-image"
                        />
                        <img
                            src="${staticBase}img/fotokabinet/${ardraxisCabinet[sekbid].sekbid_image[2]}"
                            alt="${ardraxisCabinet[sekbid].sekbid} 3"
                            class="placeholder-carousel-image"
                        />
                    </div>
                </div>

                <div class="sekbid-cloud sekbid-cloud-between-left"></div>
                <div class="sekbid-cloud sekbid-cloud-between-center"></div>
                <div class="sekbid-cloud sekbid-cloud-between-right"></div>

                <div class="sekbid-card-wrapper ${ardraxisCabinet[sekbid].sekbid_id}">
                </div>
            `;
            
            const cardWrapper = document.querySelector(`.${ardraxisCabinet[sekbid].sekbid_id}`);
            for (memberData in ardraxisCabinet[sekbid].members) {
                const memberCard = document.createElement("article");
                memberCard.className = `sekbid-card`;
                cardWrapper.append(memberCard);

                const member = ardraxisCabinet[sekbid].members[memberData];
                memberCard.innerHTML += `
                    <article class="sekbid-card">
                        <div class="sekbid-card-inner">
                            <header class="sekbid-card-header">
                                <span class="sekbid-card-experience">${member.exp} YEARS OF EXPERIENCE</span>
                                <span class="sekbid-card-rank">${member.rank}</span>
                            </header>

                            <div class="sekbid-card-body">
                                <div class="sekbid-card-photo-wrapper">
                                    <div class="carousel-container">
                                        <img
                                            src="${staticBase}img/fotokabinet/${member.images[0]}"
                                            alt="${member.name} 1"
                                            class="sekbid-card-photo carousel-image"
                                        />
                                        <img
                                            src="${staticBase}img/fotokabinet/${member.images[1]}"
                                            alt="${member.name} 2"
                                            class="sekbid-card-photo carousel-image"
                                        />
                                        <img
                                            src="${staticBase}img/fotokabinet/${member.images[2]}"
                                            alt="${member.name} 3"
                                            class="sekbid-card-photo carousel-image"
                                        />
                                    </div>
                                </div>
                                <p class="sekbid-card-name">${member.name}</p>
                                <p class="sekbid-card-nickname">(${member.nicknames})</p>
                            </div>

                            <footer class="sekbid-card-footer">
                                <p class="sekbid-card-role-sub">${member.jabatan}</p>
                                <a href="https://www.instagram.com/${member.instagram}/" target="Blank" class="sekbid-card-instagram">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </footer>
                        </div>
                    </article>
                `;
            }
        }
    </script>
{% endblock %}