{% extends 'layout.html' %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/coming_soon.css') }}"
/>
{% endblock %} {% block isi %}
<section class="fullpage-center">
  <div class="center-content">
    <img
      class="logo"
      src="{{ url_for('static', filename='img/logo_ardraxis.png') }}"
      alt="ARDRAXIS"
    />
    <h1 class="title">Coming Soon</h1>
    <p class="subtitle">Feature is under construction. Stay tuned!</p>
    <a
      class="back-home"
      href="{{ url_for('home') }}#home"
      aria-label="Back to home"
      >Kembali ke Home</a
    >
  </div>
</section>
{% endblock %}
