{% extends 'e_layout.html' %}

{% block event_css %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/e_festiora.css') }}"
  />
{% endblock %}

{% block banner_img %}
  <img
    src="{{ url_for('static', filename='img/banner/festiora_banner.png') }}"
    alt="Festiora Banner"
  >
{% endblock %}

{% block title %} Festiora {% endblock %}

{% block desc %}
  Festiora merupakan nama yang berasal dari bahasa Latin "Festum" yang berarti perayaan. Event Festiora tersendiri membawakan nuansa yang penuh suka cinta dengan menyatukan semangat dan kebersamaan dalam suasana penuh kehangatan. Dalam event Festiora para siswa dapat mengikuti berbagai jenis lomba dan juga fun activities yang dapat mempererat solidaritas dan pertemanan.
{% endblock %}

{% block ketua_panitia %} Siti Naila Zhafirah {% endblock %}
{% block wakil_ketua_panitia %} Rihanna Maheswari Sastradiredja {% endblock %}
{% block ketua_acara %} Amirah Mirza Hanania {% endblock %}

{% block event_dict %}
  <script>
    const activities = [
      {
        aName: "Live Emoji",
        aClass: "bx bx-smile bx-tada",
        aDesc: "Peserta akan saling memperebutkan kesempatan dengan peserta lainnya dengan memperagakan sebuah kata dan beberapa emoticon yang ditampilkan oleh panitia untuk mendapatkan poin."
      },
      {
        aName: "Find The Impostor",
        aClass: "bx bx-search bx-tada",
        aDesc: "Setiap peserta akan diberikan satu buah kertas berisi sebuah kata benda. Peserta yang mendapatkan kata benda berbeda harus menyembunyikan identitasnya. Peserta akan diberikan waktu untuk mencari siapa yang menjadi impostor dengan memberikan clue tentang kata mereka."
      },
      {
        aName: "Flip-a-Prize",
        aClass: "bx bx-refresh bx-tada",
        aDesc: "Setiap peserta akan diberikan botol berisi air dan melakukan bottle flip. Peserta akan terus melakukan bottle flip hingga berhasil menegakkan botol dengan sempurna dan akan diberikan hadiah."
      },
      {
        aName: "Workshop Robotic",
        aClass: "bx bx-bot bx-tada",
        aDesc: "Pameran yang menampilkan kegiatan robotik di mana peserta dapat mengikuti kegiatan pembelajaran tentang robotik yang unik dan menarik."
      },
      {
        aName: "Time Capsule",
        aClass: "bx bx-box bx-tada",
        aDesc: "Kegiatan stand yang dapat diikuti oleh siswa-siswi IGS untuk menuliskan impian-impian mereka yang akan disimpan di sebuah kotak dan beberapa surat akan dibacakan di acara closing."
      },
      {
        aName: "Live Music",
        aClass: "bx bx-music bx-tada",
        aDesc: "Kegiatan pentas musik yang dibawakan oleh band dan akan diadakan di lobby untuk memeriahkan suasana event dan menghibur siswa-siswi IGS."
      },
      {
        aName: "Radio",
        aClass: "bx bx-radio bx-tada",
        aDesc: "Pemutaran casting radio oleh panitia di lobby yang akan menemani para peserta selama event berlangsung."
      },
      {
        aName: "Mini Cinemas",
        aClass: "bx bx-movie bx-tada",
        aDesc: "Kegiatan pemutaran film menarik dan populer di berbagai ruangan kelas selama makan siang peserta."
      },
      {
        aName: "Basket",
        aClass: "bx bx-basketball bx-tada",
        aDesc: "Pertandingan basket 3x3 yang mengangkat kegairahan pemain sekaligus penonton pada acara Festiora."
      },
      {
        aName: "Tari",
        aClass: "bx bx-body bx-tada",
        aDesc: "Penampilan Tari Zapin Payung yang siap membawakan pertunjukkan penuh warna dan akan menambah antusias pada event Festiora."
      },
      {
        aName: "Duet Nyanyi",
        aClass: "bx bx-microphone bx-tada",
        aDesc: "Pertunjukkan yang di mana dua suara berpadu dengan harmoni yang akan mengingatkan kita pada masa-masa yang telah berlalu."
      },
      {
        aName: "Dance",
        aClass: "bx bx-body bx-tada",
        aDesc: "Mempersembahkan gerak-gerak yang diiringi dengan tempo lagu yang akan dibawakan dengan penuh semangat dan ekspresif."
      },
      {
        aName: "Band Andreas",
        aClass: "bx bx-music bx-tada",
        aDesc: "Pembawaan sebuah lagu, dengan perpaduan alat-alat musik yang akan menghidupkan suasana event dengan lebih meriah."
      },
      {
        aName: "Real Life Boardgame",
        aClass: "bx bx-dice-5 bx-tada",
        aDesc: "Masuk ke dunia boardgame yang biasa dimainkan diatas meja, sekarang para peserta menjadi bagian dari boardgame dan merusaha untuk menjadi yang pertama untuk mencapai akhir."
      },
      {
        aName: "TriQuest",
        aClass: "bx bx-run bx-tada",
        aDesc: "Perlombaan dimana para peserta dihidangkan serangkaian rintangan yang harus mereka lewati dengan kerjasama yang spontantan dan komunikasi yang pas."
      },
      {
        aName: "Family 100",
        aClass: "bx bx-group bx-tada",
        aDesc: "Persaingan antara kelompok yang menguji kecepatan dan kespontanitas berfikir dalam usaha mengakumulasi poin terbanyak."
      },
      {
        aName: "E-Sports",
        aClass: "bx bx-joystick bx-tada",
        aDesc: "Pertandingan antara kelompok untuk menentukan siapa yang menduduki takhta tertinggi dalam permainan Mobile Legends."
      },
      {
        aName: "Follow The Harmony",
        aClass: "bx bx-headphone bx-tada",
        aDesc: "Peserta diuji pengetahuan mereka akan lagu-lagu dengan hanya intrumental kosong dan diharuskan untuk menebak judul lagu tersebut."
      },
      {
        aName: "Case Crackers",
        aClass: "bx bx-brain bx-tada",
        aDesc: "Di perlombaan ini, peserta diharuskan untuk berfikir dengan logika untuk menganalisis, menyelidiki dan memecahkan kasus-kasus."
      },
      {
        aName: "Trivia Showdown",
        aClass: "bx bx-game bx-tada",
        aDesc: "Peserta diuji kekompakan dan pemikiran kritis mereka dengan bersaing di Trivia Showdown, peserta berusaha untuk menjawab pertanyaan lebih cepat dibanding kelompok peserta lain."
      },
      {
        aName: "Speed Drawing",
        aClass: "bx bx-pencil bx-tada",
        aDesc: "Peserta bersaing untuk mendapatkan poin dengan cara menggambar sesuatu sesuai dengan tema dan jangka waktu yang diberikan, peserta dengan akumulasi poin terbanyak menang."
      }
    ]

    const images = [
      "img/afterevent/festiora/festiora1.png",
      "img/afterevent/festiora/festiora2.png",
      "img/afterevent/festiora/festiora3.png",
      "img/afterevent/festiora/festiora4.png",
      "img/afterevent/festiora/festiora5.png",
      "img/afterevent/festiora/festiora6.png"
    ]
  </script>
{% endblock %}