{% extends "layout.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/e_festiora.css') }}"
/>

{% endblock extra_css %} {% block title %}Festiora{% endblock title %} {% block
isi%}
<!-- Banner Section -->
<section class="banner">
  <img
    src="{{ url_for('static', filename='img/banner/festiora_banner.png') }}"
    alt="banner"
  />
  <section class="gradient-banner"></section>
</section>

<!-- About Section -->
<section class="about">
  <h1 class="about-title hidden">About Festiora</h1>
  <div class="about-desc hidden">
   Festiora merupakan nama yang berasal dari Bahasa Latin "Festum" yang berarti perayaan. Event Festiora tersendiri membawakan nuansa yang penuh suka cinta dengan menyatukan semangat dan kebersamaan dalam suasana penuh kehangatan. Dalam event Festiora para siswa dapat mengikuti berbagai jenis lomba dan juga fun activities yang dapat mempererat solidaritas dan pertemanan.
  </div>
  <div class="about-panitia-row">
    <div class="about-panitia-item hidden">
      <div><span class="about-panitia-role">Ketua Panitia</span></div>
      <div class="about-panitia-name">Siti Naila Zhafirah</div>
    </div>
    <div class="about-panitia-item hidden">
      <div><span class="about-panitia-role">Wakil Ketua Panitia</span></div>
      <div class="about-panitia-name">Rihanna Maheswari Sastradiredja</div>
    </div>
    <div class="about-panitia-item hidden">
      <div><span class="about-panitia-role">Ketua Acara</span></div>
      <div class="about-panitia-name">Amirah Mirza Hanania</div>
    </div>
  </div>
</section>

<!-- Content Section -->
<section class="content">
  <!-- Performance Section -->
  <div class="performance">
    <h1 class="hidden">Activities & Performances</h1>
        <div class="lists">

        <div class="list hidden" onclick="showDetail(
          'Live Emoji',
          'bx bx-smile bx-tada',
          'peserta akan saling memperebutkan kesempatan dengan peserta lainnya dengan memperagakan sebuah kata dan beberapa emoticon yang ditampilkan oleh panitia untuk mendapatkan poin.'
        )">
          <i class="bx bx-smile bx-tada"></i>
          <p>Live Emoji</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Find The Impostor',
          'bx bx-search bx-tada',
          'setiap peserta akan diberikan satu buah kertas berisi sebuah kata benda. peserta yang mendapatkan kata benda berbeda harus menyembunyikan identitasnya. permainan akan diberikan waktu untuk peserta mencari siapa yang menjadi impostor dengan memberikan clue tentang kata mereka.'
        )">
          <i class="bx bx-search bx-tada"></i>
          <p>Find The Impostor</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Flip-a-Prize',
          'bx bx-refresh bx-tada',
          'setiap peserta akan diberikan botol berisi air dan melakukan bottle flip. peserta akan terus melakukan bottle flip hingga berhasil menegakkan botol dengan sempurna dan akan diberikan hadiah.'
        )">
          <i class="bx bx-refresh bx-tada"></i>
          <p>Flip-a-Prize</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Workshop Robotic',
          'bx bx-bot bx-tada',
          'pameran yang menampilkan kegiatan robotik dimana peserta dapat mengikuti kegiatan pembelajaran tentang robotik yang unik dan menarik.'
        )">
          <i class="bx bx-bot bx-tada"></i>
          <p>Workshop Robotic</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Time Capsule',
          'bx bx-box bx-tada',
          'Kegiatan stand yang dapat diikuti oleh siswa-siswi IGS untuk menuliskan impian-impian mereka yang akan disimpan di sebuah kotak dan beberapa surat akan dibacakan di acara closing.'
        )">
          <i class="bx bx-box bx-tada"></i>
          <p>Time Capsule</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Live Music',
          'bx bx-music bx-tada',
          'Kegiatan pentas musik yang dibawakan oleh band dan akan diadakan di lobby untuk memeriahkan suasana event dan menghibur siswa-siswi IGS.'
        )">
          <i class="bx bx-music bx-tada"></i>
          <p>Live Music</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Radio',
          'bx bx-radio bx-tada',
          'Pemutaran casting radio oleh panitia di lobby yang akan menemani para peserta selama event berlangsung.'
        )">
          <i class="bx bx-radio bx-tada"></i>
          <p>Radio</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Mini Cinemas',
          'bx bx-movie bx-tada',
          'Kegiatan pemutaran film menarik dan populer di berbagai ruangan kelas selama makan siang peserta.'
        )">
          <i class="bx bx-movie bx-tada"></i>
          <p>Mini Cinemas</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Basket',
          'bx bx-basketball bx-tada',
          'Pertandingan basket 3x3 yang mengangkat kegairahan pemain sekaligus penonton pada acara FESTIORA.'
        )">
          <i class="bx bx-basketball bx-tada"></i>
          <p>Basket</p>
        </div>

        <!-- PERFORMANCE -->

        <div class="list hidden" onclick="showDetail(
          'Tari',
          'bx bx-user bx-tada',
          'Penampilan Tari Zapin Payung yang siap membawakan pertunjukkan penuh warna dan akan menambah antusias pada event Festiora'
        )">
          <i class="bx bx-user bx-tada"></i>
          <p>Tari</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Duet Nyanyi',
          'bx bx-microphone bx-tada',
          'Pertunjukkan yang di mana ketika dua suara berpadu, dengan harmoni yang akan mengingatkan kita pada masa-masa yang telah berlalu'
        )">
          <i class="bx bx-microphone bx-tada"></i>
          <p>Duet Nyanyi</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Dance',
          'bx bx-body bx-tada',
          'Mempersembahkan gerak-gerak yang diiringi dengan tempo lagu yang akan dibawakan dengan penuh semangat dan ekspresif'
        )">
          <i class="bx bx-body bx-tada"></i>
          <p>Dance</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Band Andreas',
          'bx bx-music bx-tada',
          'Pembawaan sebuah lagu, dengan perpaduan alat-alat musik yang akan menghidupkan suasana event dengan lebih meriah'
        )">
          <i class="bx bx-music bx-tada"></i>
          <p>Band Andreas</p>
        </div>

        <!-- GAMES -->

        <div class="list hidden" onclick="showDetail(
          'Real Life Boardgame',
          'bx bx-dice-5 bx-tada',
          'Masuk ke dunia boardgame yang biasa dimainkan diatas meja, sekarang para peserta menjadi bagian dari boardgame dan merusaha untuk menjadi yang pertama untuk mencapai akhir.'
        )">
          <i class="bx bx-dice-5 bx-tada"></i>
          <p>Real Life Boardgame</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'TriQuest',
          'bx bx-run bx-tada',
          'Perlombaan dimana para peserta dihidangkan serangkaian rintangan yang harus mereka lewati dengan kerjasama yang spontantan dan komunikasi yang pas.'
        )">
          <i class="bx bx-run bx-tada"></i>
          <p>TriQuest</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Family 100',
          'bx bx-group bx-tada',
          'Persaingan antara kelompok yang menguji kecepatan dan kespontanitas berfikir dalam usaha mengakumulasi poin terbanyak.'
        )">
          <i class="bx bx-group bx-tada"></i>
          <p>Family 100</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'E-Sport (Mobile Legends)',
          'bx bx-joystick bx-tada',
          'Pertandingan antara kelompok untuk menentukan siapa yang menduduki tahta tertinggi dalam permainan Mobile Legends'
        )">
          <i class="bx bx-joystick bx-tada"></i>
          <p>E-Sport (Mobile Legends)</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Follow The Harmony',
          'bx bx-headphone bx-tada',
          'Peserta diuji pengetahuan mereka akan lagu-lagu dengan hanya intrumental kosong dan diharuskan untuk menebak judul lagu tersebut.'
        )">
          <i class="bx bx-headphone bx-tada"></i>
          <p>Follow The Harmony</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Case Crackers',
          'bx bx-brain bx-tada',
          'Diperlombaan ini peserta diharuskan untuk berfikir dengan logika untuk menganalisis, menyelidiki dan memecahkan kasus-kasus.'
        )">
          <i class="bx bx-brain bx-tada"></i>
          <p>Case Crackers</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Trivis Showdown',
          'bx bx-game bx-tada',
          'Peserta diuji kekompakan dan pemikiran kritis mereka dengan bersaing di Trivia Shutdown, peserta berusaha untuk menjawab pertanyaan lebih duluan dibanding kelompok peserta lain.'
        )">
          <i class="bx bx-game bx-tada"></i>
          <p>Trivis Showdown</p>
        </div>

        <div class="list hidden" onclick="showDetail(
          'Speed Drawing',
          'bx bx-pencil bx-tada',
          'Peserta bersaing untuk mendapatkan poin dengan cara menggambar sesuatu sesuai dengan tema dan jangka waktu yang diberikan, peserta dengan akumulasi poin terbanyak menang.'
        )">
          <i class="bx bx-pencil bx-tada"></i>
          <p>Speed Drawing</p>
        </div>

      </div>
  </div>
</section>

<!-- Detail -->
<div class="detail" id="detail">
  <div class="detail-container">
    <div class="content">
      <div onclick="closeDetail()" class="close">
        <i class="bi bi-x-circle"></i>
      </div>
      <div class="content-desc">
        <h2 id="detail-heading">Band Performance</h2>
        <p id="detail-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni
          impedit veniam quia quod unde dignissimos officia consequuntur harum.
          Quidem necessitatibus doloribus quae at! Cum hic commodi beatae maxime
          voluptates.
        </p>
      </div>
      <div class="content-logo">
        <i id="detail-logo"></i>
      </div>
    </div>
  </div>
</div>
{% block extra_js %}
    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shown_up.js') }}"></script>
{% endblock %}
{% endblock isi %}
