{% extends 'layout.html' %}

{% block title %}Idul Fitri{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/e_idulfitri_regist.css') }}">
{% endblock %}

{% block isi %}
<section class="idul-fitri-page">
  <div class="idul-fitri-header">
    <h1 class="idul-fitri-title">Idul Fitri Registration</h1>
    <div class="deadline-badge">Closes • deadline here</div>
  </div>

  <!-- FORM -->
  <div class="form-container">
    <form id="idulFitriForm">
      <input type="text" name="nama-lengkap" id="namaLengkap" placeholder="Nama Lengkap" required>
      <select name="angkatan" id="angkatan" required>
        <option value="sd">SD</option>
        <option value="smp">SMP</option>
        <option value="sma">SMA</option>
      </select>
      <input type="text" name="kelas" id="kelas" placeholder="Kelas" required>
      <div class="confirmation">
        <input type="checkbox" name="konfirmasi" id="konfirmasi" required>
        <label for="konfirmasi">Dengan mengisi formulir ini, saya bersedia untuk mengikuti rangkaian acara Idul Fitri yang akan dilaksanakan pada tanggal ...</label>
      </div>

      <!-- Button -->
      <button type="button" class="submit-button">
        Submit
      </button>
    </form>
  </div>
</section>

<script>
document.querySelector(".submit-button").addEventListener("click", function() {

  const nama = document.getElementById("namaLengkap").value;
  const angkatan = document.getElementById("angkatan").value;
  const kelas = document.getElementById("kelas").value;

  if (!nama || !angkatan || !kelas) {
    alert("Lengkapi semua data dulu!");
    return;
  }

  const data = {
    nama: nama,
    angkatan: angkatan,
    kelas: kelas
  };

  fetch("https://script.google.com/macros/s/AKfycbzlEkphDSq_qpVVOmpG5U9dAO7ueoYSnQ9AUXe5zZHljqnJiFjJ_ti5qkqlDYpouQvzgA/exec", {
    method: "POST",
    mode: "no-cors", // 🔥 penting
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify(data)
  })
  .then(() => {
    alert("Berhasil daftar!");
    document.getElementById("idulFitriForm").reset();
  })
  .catch(error => {
    console.error("Error:", error);
    alert("Gagal kirim!");
  });

});
</script>


{% endblock %}
