<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="icon" href="{{ url_for('static', filename='img/ardraxis-logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
</head>
<body>
    <h1>commit test</h1>
</body>
</html>
{% extends 'layout.html' %}

{% block title %}
    Events | OSIS SMA IGS
{% endblock %}
{% block style_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
{% endblock %}

{% block isi %}
  <!-- Events Section -->
    <section class="events" id="e">
      <div class="events-image">
        <img
          src="{{ url_for('static', filename='img/LOGO ARDRAXIS.png') }}"
          alt="ARDRAXIS"
        />
      </div>
      <div class="events-text">
        <a class="text-shadow hidden" href="/Events/Meloria">Access to Meloria Event Page</a>
        </p>
      </div>
    </section>
    <!-- End Events Section -->
{% endblock %}
